local.properties

# Gradle
.gradle
build/

# Android Studio
*.iml
!.idea/runConfigurations/*
.idea/*.xml
.idea/.name
.idea/copyright/
.idea/codeStyles
.idea/libraries/
.idea/scopes/
.idea/inspectionProfiles/

# Other
.DS_Store
